.container {
  padding: 100px 20px 0;
  display: flex;
  justify-content: center;
}

.loginTitle {
  color: #827ffe;
}

.loginDiv {
  width: 100%;
  max-width: 500px;
  gap: 16px;
  display: grid;
  place-items: center;
}
