.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.inputContainer > label {
  color: #333;
}

.inputContainer > .input {
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: -webkit-fill-available;
  border-radius: 3px;

  background-color: #e0e0e0;
  border: none;
  padding: 15px 10px;
  outline: none;
}
